.dockerignore
.byebug_history
.env*
development.env
staging.env
production.env
.git
.gitignore
.github/*
Brewfile
Procfile*
docker-compose.*
Dockerfile
coverage/*
log/*
tmp/*
node_modules/*
public/assets/*
storage/*
public/packs/*
public/packs-test/*

config/master.key